{% extends "base_photo.html" %} 

{% block title %} Photo gallery {% endblock %}
{% block extra_scripts %} 
    <link href="/static_media/scripts/js/galleria/trunk/galleria.css" rel="stylesheet" type="text/css" media="screen" >
   <!-- <link rel="stylesheet" type="text/css" media="all" href="/static_media/scripts/js/jquery-ui.custom/development-bundle/themes/base/jquery.ui.all.css" /> 
	<script type="text/javascript" src="/static_media/scripts/js/jquery-ui.custom/development-bundle/jquery-1.4.2.js"> </script>
	<script type="text/javascript" src="/static_media/scripts/js/jquery-ui.custom/js/jquery-ui-1.8.4.custom.min.js"> </script> --> 
    <script type="text/javascript" src="/static_media/scripts/js/galleria/demo/jquery.min.js"> </script>
	<script type="text/javascript" src="/static_media/scripts/js/galleria/trunk/jquery.galleria.js"> </script> 
    <script type="text/javascript" src="/static_media/scripts/js/photo-gallery.js" > </script>
{% endblock %}

{% block feature_text %}
	    <h3> Shiraha's photo gallery </h3> 
{% endblock %}

{% block content %} 
    <div class="demo">
    <div id="main_image"></div> 
    <ul class="gallery_demo_unstyled">
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser01.JPG" /> 		
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser02.JPG" /> 	
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser03.JPG" /> 	
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser04.JPG" /> 	
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser05.JPG" /> 	
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser06.JPG" /> 	
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser07.JPG" /> 	
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser08.JPG" /> 	
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser09.JPG" /> 	
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser10.JPG" /> 	
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser11.JPG" /> 	
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser12.JPG" /> 	
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser13.JPG" /> 	
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser14.JPG" /> 	
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser15.JPG" /> 	
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser16.JPG" /> 	
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser17.JPG" /> 	
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser18.JPG" /> 	
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser19.JPG" /> 	
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser20.JPG" /> 	
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser21.JPG" /> 	
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser22.JPG" /> 	
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser23.JPG" /> 	
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser24.JPG" /> 	
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser25.JPG" /> 	
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser26.JPG" /> 	
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser27.JPG" /> 	
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser28.JPG" /> 	
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser29.JPG" /> 	
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser30.JPG" /> 	
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser31.JPG" /> 	
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser32.JPG" /> 	
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser33.JPG" /> 	
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser34.JPG" /> 	
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser35.JPG" /> 	
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser36.JPG" /> 	
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser37.JPG" /> 	
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser38.JPG" /> 	
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser39.JPG" /> 	
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser40.JPG" /> 	
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser41.JPG" /> 	
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser42.JPG" /> 	
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser43.JPG" /> 	
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser44.JPG" /> 	
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser45.JPG" /> 	
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser46.JPG" /> 	
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser47.JPG" /> 	
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser48.JPG" /> 	
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser49.JPG" /> 	
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser50.JPG" /> 	
		<li> <img src="/static_media/images/Papa_Omusula/fundraiser51.JPG" /> 		
		
		<li> <img src="/static_media/images/weddings/loren7.JPG" /> </li>
		<li> <img src="/static_media/images/weddings/loren8.JPG" /> </li>
		<li> <img src="/static_media/images/weddings/loren9.JPG" /> </li>
		<li> <img src="/static_media/images/weddings/loren10.JPG" /> </li>
		<li> <img src="/static_media/images/weddings/loren11.JPG" /> </li>
		<li> <img src="/static_media/images/weddings/loren12.JPG" /> </li>
		<li> <img src="/static_media/images/weddings/loren13.JPG" /> </li>
	    <li> <img src="/static_media/images/gallery_one/DSC00003.JPG" /> </li>
		<li> <img src="/static_media/images/gallery_one/DSC00005.JPG" /> </li>
		<li> <img src="/static_media/images/gallery_one/DSC00006.JPG" /> </li>
		<li> <img src="/static_media/images/gallery_one/DSC00007.JPG" /> </li>
		<li> <img src="/static_media/images/gallery_one/DSC00008.JPG" /> </li>
		<li> <img src="/static_media/images/gallery_one/DSC00009.JPG" /> </li>
		<li> <img src="/static_media/images/gallery_one/DSC00010.JPG" /> </li>
		<li> <img src="/static_media/images/gallery_one/DSC00011.JPG" /> </li>
	</ul> 
	<p class="nav"><a href="#" onclick="$.galleria.prev(); return false;">&laquo; previous</a> | <a href="#" onclick="$.galleria.next(); return false;">next &raquo;</a></p>
    </div>
{% endblock %}