{% extends "base.html" %} 

{% block title %} Latest news articles {% endblock %}

{% block content %} 
    {% if latest %} 
	    <h3> Shiraha latest news archive. </h3> 
	    {% for item in latest %}
        <p> 
		    <a href="{{ item.article.url }}"> {{ item.article.title }} </a> <br /> <br /> 
		    {{ item.article.content|truncatewords:"100"|safe}}
		</p> 
		<p class="more"><a href="{{ item.article.url }}">more</a></p>
		{% endfor %}
	{% else %} 
		<p> Sorry, there are not items in the news archive. </p>
	{% endif %}
{% endblock %}