{% extends "base_news.html" %} 

{% block title %} Latest news articles {% endblock %}

{% block feature_text %}
	    <h3> Shiraha news archive. </h3> 
{% endblock %} 

{% block content %} 
    {% if object_list %} 

	    {% for item in object_list %}
        <p> 
		    <a href="{{ item.article.url }}"> {{ item.article.title }} </a> <br /> <br /> 
		    {{ item.article.content|truncatewords:"100"|safe}} 
		</p> 
		<p class="more"><a href="{{ item.article.url }}">more</a></p>
		{% endfor %}
	{% else %} 
		<p> Sorry, there are not items in the news archive. </p>
	{% endif %}
	
	<p> {{ page_obj }}
		{% if page_obj.has_previous %}
			<a href="?page={{ page_obj.previous_page_number }}">Previous page</a>
		{% endif %}
		{% if page_obj.has_next %}
			<a href="?page={{ page_obj.next_page_number }}">Next page</a>
		{% endif %}</p>
{% endblock %}