{% extends "base.html" %} 

{% block title %} Latest news articles {% endblock %}

{% block content %} 
    {% if latest %} 
	    <h1> Shiraha latest news archive. </h1> <hr />
	    {% for item in latest %}
        <p> 
		    <a href="{{ item.get_absolute_url }}"> {{ item.title }} </a> <br /> <br /> 
		    {{ item.article|safe|truncatewords:"50"}}
		</p> 
		<p class="more"><a href="{{ item.get_absolute_url }}">more</a></p>
		{% endfor %}
	{% else %} 
		<p> Sorry, there are not items in the news archive. </p>
	{% endif %}
{% endblock %}