<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
	<meta name="author" content="Sam Wanga and Martin Akolo - www.geek.co.ke" />
	<meta name="description" content="Site Description Here" />
	<meta name="keywords" content="Shiraha, Shiraha Welfare, Shiraha welfare society, Shiraha investment, Shiraha investment group, Lukohe" />
	<meta name="robots" content="index, follow, noarchive" />
	<meta name="googlebot" content="noarchive" /> 
	
	<title> Shiraha Welfare association and Investment group ::: {% block title %} Home page {% endblock %}</title> 
	<!-- Framework CSS -->
	<!-- <link rel="stylesheet" href="/static_media/styles/blueprint/screen.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="/static_media/styles/blueprint/print.css" type="text/css" media="print" /> -->
    <!--[if lt IE 8]><link rel="stylesheet" href="/static_media/styles/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]]-->
	
	<link rel="stylesheet" type="text/css" href="/static_media/styles/bootstrap/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="/static_media/styles/bootstrap/bootstrap.min.css" /> 
	<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet" />

	<link rel="stylesheet" href="/static_media/styles/style.css" type="text/css" charset="utf-8" />
	{% block extra_scripts %} {% endblock %}
</head>

<body>
	<!-- wrap starts here -->
<div id="wrap">

	<!--header -->
	<div id="header">			
				
		<h1 id="logo-text"><a href="index.html" title="Shiraha"> Shiraha </a></h1>		
		<p id="slogan"> Welfare Association and Investment group ... </p>	
		
		<div  id="nav">
			<ul> {% block main_navigation %}
				<li class="first" id="current"><a href="/">Home</a></li>
				<li><a href="/project/">Projects</a></li>
				<li><a href="/meeting/">Meetings</a></li>
				<li><a href="/news/">News & Events</a></li>
				<li><a href="/photo/">Photos</a></li>
				<li><a href="/contacts/">Contact Us</a></li>
				{% endblock %}
			</ul>		
		</div>	
		
		<div id="header-image"></div>
											
	</div>
	<!--header ends-->
	
	<!-- featured starts -->	
	<div id="featured" class="clear">				
				
			<a name="TemplateInfo"></a>
			{% block feature_text %}
			<div class="image-block">
              <img src="/static_media/images/img-featured.jpg" alt="featured"/>
            </div>	
			
			<div class="text-block">
				<h2><a href="index.html"> History of the Welfare Association </a></h2>
                <p class="post-info">Posted by <a href="index.html">Sam </a> | Filed under <a href="index.html">History</a>, <a href="index.html">About</a></p>
			
                <p><strong> Shiraha </strong> Welfare association and investment group was started in the late 1970s as an effort to take developments back at home. 
				<a href="http://www.styleshout.com/">^^^</a>. This was by its three esteemed members 
				<a rel="license" href="http://creativecommons.org/licenses/by/2.5/">
				Mr. Fred Andayi Akolo, Mr. Evans Mukolwe and Mr. James Opindi. </a> They are the first officials of the group who acted as its Chairman, secretary and 
				treasurers respectively.
                </p>

                <p> Originally the <a href="/meeting/"> meetings </a>used to be held at hotels and restaurants around the city but this proved to be a 
				little prohibitive to some of the members who had lesser disposable incomes at the time. It was then decided to be holding these in 
                <a href="/photo/" title="Website Templates"> individuals' houses. </a>.
				</p>

				<p><a href="/history/" class="more-link">Read More</a></p>		
			</div>								
			{% endblock %}	
	</div>	
	<!-- featured ends -->		
				
	<!-- content -->
	<div id="content-outer" class="clear"><div id="content-wrap">
	
		<div id="content">
			
			<div id="left">			
				{% block content %}
				{% if LATEST_NEWS %} 
				{% for item in LATEST_NEWS %}
				<div class="entry">
				
					<h3><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h3>
					{{ item.article_html|truncatewords_html:"150"|safe }}			
					<p><a class="more-link" href="{{ item.get_absolute_url }}">continue reading</a></p>
				
				</div>
				{% endfor %}
				{% endif %} 
			{% endblock %}	
			</div>
			
			<div id="right">
							
				<div class="sidemenu">	
					<a href="/project/"> <h3> Projects </h3> </a>
					<ul>	
					{% if LATEST_PROJECTS %} 
						{% for project in LATEST_PROJECTS %} 
						<li><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></li>
						{% endfor %}
					{% else %}
						<li> There are currently no no ongoing projects. </li>
					{% endif %}
					</ul>	
				</div>
							
				<div class="sidemenu">
					<a href="/news/"> <h3> News and Events </h3> </a>
					<ul>
					{% if LATEST_NEWS %}
						{% for news in LATEST_NEWS %}
						<li><a href="{{ news.get_absolute_url }}" title="{{ news.title }}"> {{ news.title|truncatewords:"4" }} <br />
                            <span> {{ news.article_html|truncatewords_html:"12"|safe}} </span></a>
                        </li>
						{% endfor %}
					{% else %}
						<li><a href="/news/" title="News and Events"> No News and Events <br />
                            <span> There are no news items to display. </span></a>
                        </li>
					{% endif %}
					</ul>
				</div>		
				
				<h3>Search</h3>
			
				<form id="quick-search" action="/search/" method="get" >
					<p>
					<label for="qsearch">Search:</label>
					<input class="tbox" id="qsearch" type="text" name="qsearch" value="type and hit enter..." title="Start typing and hit ENTER" />
					<input class="btn" alt="Search" type="image" name="searchsubmit" title="Search" src="/static_media/images/search.gif" />
					</p>
				</form>	
					
			</div>		
		
		</div>	
				
	</div></div>
	<!-- content end -->
	
	<!-- footer starts here -->	
	<div id="footer-outer" class="clear"><div id="footer-wrap">
	
		<div class="col-a">
		
			<h3>Image Gallery </h3>					
				
			<p class="thumbs">
				<a href="index.html"><img src="/static_media/images/gallery_one/DSC00003.JPG" width="40" height="40" alt="thumbnail" /></a>
				<a href="index.html"><img src="/static_media/images/gallery_one/DSC00011.JPG" width="40" height="40" alt="thumbnail" /></a>
				<a href="index.html"><img src="/static_media/images/gallery_one/DSC00005.JPG" width="40" height="40" alt="thumbnail" /></a>
				<a href="index.html"><img src="/static_media/images/gallery_one/DSC00006.JPG" width="40" height="40" alt="thumbnail" /></a>
				<a href="index.html"><img src="/static_media/images/gallery_one/DSC00007.JPG" width="40" height="40" alt="thumbnail" /></a>
				<a href="index.html"><img src="/static_media/images/gallery_one/DSC00008.JPG" width="40" height="40" alt="thumbnail" /></a>	
				<a href="index.html"><img src="/static_media/images/gallery_one/DSC00009.JPG" width="40" height="40" alt="thumbnail" /></a>
				<a href="index.html"><img src="/static_media/images/gallery_one/DSC00010.JPG" width="40" height="40" alt="thumbnail" /></a>				
			</p>	
			
			<h3>Lorem ipsum dolor</h3>
			
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. 
			Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu 
			posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum, dui pede condimentum 
			odio, ac blandit ante orci ut diam. Cras fringilla magna.  
		   </p>			
				
		</div>
		
		<div class="col-a">
		
			<h3>Lorem Ipsum</h3>
			
			<p>
			<strong>Lorem ipsum dolor</strong> <br />
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. 
			Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu 
			posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum, dui pede condimentum 
			odio, ac blandit ante orci ut diam.</p>
				
			<div class="footer-list">
				<ul>				
					<li><a href="index.html">consequat molestie</a></li>
					<li><a href="index.html">sem justo</a></li>
					<li><a href="index.html">semper</a></li>
					<li><a href="index.html">magna sed purus</a></li>
					<li><a href="index.html">tincidunt</a></li>		
					<li><a href="index.html">consequat molestie</a></li>		
					<li><a href="index.html">magna sed purus</a></li>					
				</ul>
			</div>
				
		</div>		
	
		<div class="col-b">
		
			<h3>About</h3>			
			
			<p>
			<a href="index.html"><img src="/static_media/images/gravatar.jpg" width="40" height="40" alt="firefox" class="float-left" /></a>
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. 
			Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu 
			posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum, dui pede condimentum 
			odio, ac blandit ante orci ut diam.</p>
			
			<p>
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. 
			Cras id urna. <a href="index.html">Learn more...</a></p>			
			
		</div>		
			
	</div></div>
	<!-- footer ends -->
	
	<!-- footer-bottom starts -->		
	<div id="footer-bottom">
		<div class="bottom-left">
			<p>
			&copy; 2011 <strong>All rights reserved</strong>&nbsp; &nbsp; &nbsp;
			<a href="http://www.bluewebtemplates.com/" title="Website Templates">website templates</a> by <a href="http://www.styleshout.com/">styleshout</a>
			</p>
		</div>
	
		<div class="bottom-right">
			<p>		
				<a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | 
		   	<a href="http://validator.w3.org/check/referer">XHTML</a>	|			
				<a href="index.html">Home</a> |
				<a href="index.html">Sitemap</a> |
				<a href="index.html">RSS Feed</a>								
			</p>
		</div>
			
	</div>
	<!-- footer-bottom ends -->
	

</div>
<!-- wrap ends here -->

</body>
</html>
