{% extends "base.html" %} 

{% block title %} List of projects {% endblock %}

{% block content %} 
    {% if object_list %} 
	    <h1> investment projects list. </h1> <hr />
	    {% for investment in object_list %}
        <p> 
		    <a href="{{ investment.get_absolute_url }}"> {{ investment.name }} </a> <br /> <br /> 
		    {{ investment.description|truncatewords:"50"}}
		</p> 
		<p class="more"><a href="{{ investment.get_absolute_url }}">more</a></p>
		{% endfor %}
	{% else %} 
		<p> Sorry, there are no investment projects that are currently ongoing. </p>
	{% endif %}
{% endblock %}