{% extends "base_contact.html" %} 

{% block title %} Contacts / Contact Form {% endblock %} 

{% block feature_text %}
	<h3> Contact us </h3>
{% endblock %}

{% block content %} 
    {% if form.errors %}
        <p class="alert-message block-message error">
            Please correct the error {{ form.errors|pluralize}} below.
        </p>
    {% endif %}
	<form action="/contacts/" method="post">
        {% csrf_token %}
             {{ form.as_p }}
        <input type="submit" value="Submit" class="btn info">
    </form>
{% endblock %}